<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select de Códigos y Subcódigos</title>
</head>
<body>
    <label for="codigos">Seleccione un código:</label>
    <select id="codigos" name="codigos">
        <option value="" disabled>ASFIXIAS</option>
        <option value="NAS-CC">&nbsp;&nbsp;&nbsp;&nbsp;compresión de cuello</option>
        <option value="NAS-VA">&nbsp;&nbsp;&nbsp;&nbsp;lesión u obstrucción de vía aérea</option>
        <option value="NAS-TA">&nbsp;&nbsp;&nbsp;&nbsp;compresión toraco abdominal</option>
        <option value="NAS-CF">&nbsp;&nbsp;&nbsp;&nbsp;confinamiento o agotamiento del aire atmosférico</option>
        <option value="NAS-BA">&nbsp;&nbsp;&nbsp;&nbsp;broncoaspiración</option>
    
        <option value=""disabled>ACCIDENTE DE TRÁNSITO</option>
        <option value="NAT-C">&nbsp;&nbsp;&nbsp;&nbsp;conductor</option>
        <option value="NAT-A">&nbsp;&nbsp;&nbsp;&nbsp;acompañante</option>
        <option value="NAT-P">&nbsp;&nbsp;&nbsp;&nbsp;peatón</option>
        <option value="NAT-CoA-MT">&nbsp;&nbsp;&nbsp;&nbsp;c o a-motocicleta</option>
        <option value="NAT-CoA-AU">&nbsp;&nbsp;&nbsp;&nbsp;c o a-automotor</option>
    
        <option value=""disabled>ARMA BLANCA</option>
        <option value="NAB-SU">&nbsp;&nbsp;&nbsp;&nbsp;suicidio</option>
        <option value="NAB-HO">&nbsp;&nbsp;&nbsp;&nbsp;homicidio</option>
        <option value="NAB-AC">&nbsp;&nbsp;&nbsp;&nbsp;accidental</option>
        <option value="NAB-VG">&nbsp;&nbsp;&nbsp;&nbsp;violencia de género-femicidio</option>
    
        <option value=""disabled>ARMA DE FUEGO</option>
        <option value="NAF-SU">&nbsp;&nbsp;&nbsp;&nbsp;suicidio</option>
        <option value="NAF-HO">&nbsp;&nbsp;&nbsp;&nbsp;homicidio</option>
        <option value="NAF-AC">&nbsp;&nbsp;&nbsp;&nbsp;accidental</option>
        <option value="NAF-VG">&nbsp;&nbsp;&nbsp;&nbsp;violencia de género-femicidio</option>
    
        <option value=""disabled>CAUSA INDETERMINADA</option>
        <option value="NCI">&nbsp;&nbsp;&nbsp;&nbsp;causa indeterminada</option>
    
        <option value=""disabled>ELECTROCUCIÓN</option>
        <option value="NEL">&nbsp;&nbsp;&nbsp;&nbsp;electrocucion</option>
    
        <option value=""disabled>ENFERMEDAD NATURAL</option>
        <option value="NEN-CV">&nbsp;&nbsp;&nbsp;&nbsp;cardiovascular</option>
        <option value="NEN-RE">&nbsp;&nbsp;&nbsp;&nbsp;respiratorio</option>
        <option value="NEN-NE">&nbsp;&nbsp;&nbsp;&nbsp;neurológico</option>
        <option value="NEN-ON">&nbsp;&nbsp;&nbsp;&nbsp;oncológico</option>
        <option value="NEN-IN">&nbsp;&nbsp;&nbsp;&nbsp;indeterminado</option>
    
        <option value=""disabled>FETOS-RN</option>
        <option value="NFE-PT">&nbsp;&nbsp;&nbsp;&nbsp;pretermino</option>
        <option value="NFE-TE">&nbsp;&nbsp;&nbsp;&nbsp;termino</option>
        <option value="MRN">&nbsp;&nbsp;&nbsp;&nbsp;menor a 1 año de vida</option>
    
        <option value=""disabled>MUERTE EN ALTURA</option>
        <option value="NMA-TR">&nbsp;&nbsp;&nbsp;&nbsp;traumática</option>
        <option value="NMA-HT">&nbsp;&nbsp;&nbsp;&nbsp;hipotermia</option>
        <option value="NMA-ED">&nbsp;&nbsp;&nbsp;&nbsp;edema cerebral o pulmonar</option>
    
        <option value=""disabled>MUERTE EN CUSTODIA</option>
        <option value="NMC">&nbsp;&nbsp;&nbsp;&nbsp;muerte en custodia</option>
    
        <option value=""disabled>QUEMADO</option>
        <option value="NQU-SU">&nbsp;&nbsp;&nbsp;&nbsp;suicidio</option>
        <option value="NQU-HO">&nbsp;&nbsp;&nbsp;&nbsp;homicidio</option>
        <option value="NQU-AC">&nbsp;&nbsp;&nbsp;&nbsp;accidental</option>
        <option value="NQU-VG">&nbsp;&nbsp;&nbsp;&nbsp;violencia de género-femicidio</option>
    
        <option value=""disabled>RESTOS ÓSEOS</option>
        <option value="NRO">&nbsp;&nbsp;&nbsp;&nbsp;restos oseos</option>
    
        <option value=""disabled>SUMERSIÓN</option>
        <option value="NSU-AC">&nbsp;&nbsp;&nbsp;&nbsp;accidental</option>
        <option value="NSU-HO">&nbsp;&nbsp;&nbsp;&nbsp;homicidio</option>
        <option value="NSU-SU">&nbsp;&nbsp;&nbsp;&nbsp;suicidio</option>
    
        <option value=""disabled>TRAUMÁTICA</option>
        <option value="NRT-V">&nbsp;&nbsp;&nbsp;&nbsp;violencia</option>
        <option value="NRT-A">&nbsp;&nbsp;&nbsp;&nbsp;accidental</option>
    
        <option value=""disabled>TÓXICOS/VENENOS</option>
        <option value="NVT-CN">&nbsp;&nbsp;&nbsp;&nbsp;cianuros</option>
        <option value="NVT-AS">&nbsp;&nbsp;&nbsp;&nbsp;arsénico</option>
        <option value="NVT-CO">&nbsp;&nbsp;&nbsp;&nbsp;monóxido</option>
        <option value="NVT-OT">&nbsp;&nbsp;&nbsp;&nbsp;otros</option>
        <option value="NVT-DA">&nbsp;&nbsp;&nbsp;&nbsp;drogas de abuso</option>
        <option value="NVT-C">&nbsp;&nbsp;&nbsp;&nbsp;cáusticos</option>
    
        <option value=""disabled>EXAMEN EXTERNO</option>
        <option value="NEXT">&nbsp;&nbsp;&nbsp;&nbsp;examen externo</option>
    
        <option value=""disabled>OTROS</option>
        <option value="NOT">&nbsp;&nbsp;&nbsp;&nbsp;otras causas no especificadas</option>
    </select>
    
</body>
</html>